<?xml version="1.0" encoding="UTF-8"?>
<configuration>

   	<!-- reset all previous level configurations of all j.u.l. loggers -->
   	<!-- Important to control CXF logging via java.util.logging framework - and omit red messages in console with very important INFO like
   	 
feb. 11, 2024 12:14:34 PM org.apache.cxf.wsdl.service.factory.ReflectionServiceFactoryBean buildServiceFromClass
INFO: Creating Service {http://inbound.as4.oxalis.network/}As4ProviderService from class network.oxalis.as4.inbound.As4Provider
feb. 11, 2024 12:14:34 PM org.apache.cxf.endpoint.ServerImpl initDestination
INFO: Setting the server's publish address to be /   	
   	-->
   	
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    	<resetJUL>true</resetJUL>
	</contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p %m %n</pattern>
        </encoder>
    </appender>

	<!-- Hide very important internals of testng on startup -->
	<logger name="org.testng" level="warn"/>
	
	<!-- Hide settings of Oxalis -->
	<logger name="network.oxalis.commons.settings.SettingsBuilder" level="warn"/>
	
	<logger name="org.apache.cxf" level="warn"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
